.download {
  background-color: @dark-blue;
}

.download__intro {
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 300;
  color: @white;
}

.download__wrapper {
  width: 280px;
}

.download__button {
  padding-top: 13px;
  padding-bottom: 13px;
  border: 3px solid @white;
  border-radius: 35px;
  text-align: center;
}

.download__button a {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: @white;
  text-decoration: none;
}

.download__availability {
  font-weight: 300;
  color: @white;
}
