.form {
  margin-top: 44px;

  @media (min-width: @tablet-width) {
    width: 620px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 91px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.form legend {
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: @red;
  padding-left: 28px;
  padding-right: 28px;
}

.form__caption {
  line-height: 30px;
  width: 280px;
  margin: 0 auto 35px auto;
  text-align: center;
  order: -4;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    width: 100%;
    margin-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 72px;
  }
}

.form__caption span {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: inline-block;
  }
}

.form p {
  padding: 0;
}

.form__wrapper {
  width: 280px;
  margin: 0 auto 16px auto;

  @media (min-width: @tablet-width) {
    width: 620px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    margin: 0;
  }
}

.form__button-submit {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 17px 0 16px 0;
  color: @white;
  background-color: @green;
  margin-bottom: 34px;

  &:hover,
  &:focus {
    background-color: @green-dark;
  }

  &:active {
    color: @white-transparent;
  }

  @media (min-width: @tablet-width) {
    width: 300px;
    margin: 0;
  }
}

.form__subscription {
  display: block;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.form__subscription span:first-of-type {
  color: @red;
}

.form__subscription span:last-of-type {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline-block;
  }
}

// User Name

.form__user-name {
  box-sizing: border-box;
  width: 280px;
  margin: 0 auto 42px auto;
  padding: 0;
  order: -3;
  border: none;


  @media (min-width: @tablet-width) {
    width: 100%;
    margin-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    width: 46.3%;
    margin: 0;
  }
}

.form__user-name label {
  display: block;
  line-height: 30px;
  text-transform: uppercase;
  color: @red;
  margin-left: 23px;
  margin-bottom: 5px;

  @media (min-width: @tablet-width) {
    margin-left: 0;
    margin-right: 17px;
    margin-top: 7px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 19px;
  }
}

.form__user-name input {
  box-sizing: border-box;
  border: 2px solid @grey-light;
  border-radius: 2px;
  padding: 22px 20px;
  width: 100%;

  &:hover {
    border-color: @grey;
  }

  &:focus {
    border-color: @red;
  }

  @media (min-width: @tablet-width) {
    padding: 24px 20px 20px 20px;
  }
}

.form__user-name input::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: @grey;
}

.form__user-name p {
  margin-top: 17px;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    margin-top: 52px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 53px;
  }
}

.form__user-name p:first-of-type {
  margin-top: 0;
}

// User Achievements

.form__user-achievements {
  box-sizing: border-box;
  width: 280px;
  margin: 0 auto;
  padding: 0 0 47px 0;
  border: none;

  @media (min-width: @tablet-width) {
    width: 100%;
    border: 2px solid @grey-light;
    padding-bottom: 53px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 60px;
  }
}

.form__wrapper-user-achievements {
  background-color: @grey-super-light;
  padding-top: 39px;

  @media (min-width: @tablet-width) {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 59px;
    background-color: transparent;
  }

  @media (min-width: @desktop-width) {
    margin-top: 57px;
  }
}

.form__user-achievements legend {
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    padding-left: 27px;
    padding-right: 29px;
    margin-bottom: 47px;
  }
}

.form__user-achievements-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    padding-left: 58px;
    padding-right: 60px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 280px 270px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    column-gap: 32px;
    row-gap: 53px;
    padding-right: 50px;
    padding-left: 58px;
  }
}

.form__user-achievements-item:not(:first-of-type) {
  margin-top: 52px;

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.form__user-achievements-item {
  @media (min-width: @desktop-width) {
    max-width: 270px;
  }
}

.form__user-achievements-item label {
  font-size: 18px;
  line-height: 30px;
  padding-left: 59px;
  position: relative;
}

.form__user-achievements-item label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -7px;
  width: 35px;
  height: 35px;
  border: 2px solid @grey-light;
  border-radius: 1px;
  background-color: @white;
}

.form__user-achievements-symbol:checked + label::before {
  background-image: url("../../img/daw.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__user-achievements-symbol:hover + label::before,
.form__user-achievements-symbol:focus + label::before {
  border-color: @grey;
}

.form__user-achievements-symbol:active + label::before {
  border-color: @red;
}

// User Contacts

.form__user-contacts {
  width: 280px;
  margin: 0 auto;
  padding: 32px 0 42px 0;
  border: none;

  @media (min-width: @tablet-width) {
    width: 100%;
    order: -1;
    border: 2px solid @grey-light;
    margin-top: 58px;
    padding-right: 60px;
    padding-left: 57px;
    padding-top: 36px;
    padding-bottom: 27px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-right: 58px;
    padding-left: 58px;
    padding-top: 33px;
    padding-bottom: 13px;
  }
}

.form__user-contacts legend {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.form__user-contacts label {
  width: 130px;
  display: block;
  line-height: 30px;
  text-transform: uppercase;
  color: @red;
  margin-bottom: 5px;
  margin-left: 24px;

  @media (min-width: @tablet-width) {
    order: 1;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 19px;
  }
}

.form__user-contacts input {
  box-sizing: border-box;
  border: 2px solid @grey-light;
  border-radius: 2px;
  padding: 22px 20px;
  width: 100%;

  @media (min-width: @tablet-width) {
    border-right: 60px solid @grey-light;
    padding: 24px 20px 20px 20px;
  }

  &:hover {
    border-color: @grey;
  }

  &:focus {
    border-color: @red;

    @media (min-width: @tablet-width) {
      border-right: 63px solid @grey;
    }
  }
}

.form__user-contacts p::before {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    right: 21px;
    top: 20%;
    width: 20px;
    height: 19px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.form__user-contacts p:first-of-type::before {
  @media (min-width: @tablet-width) {
    background-image: url("../../img/phone-icon.svg");
  }
}

.form__user-contacts p:last-of-type::before {
  @media (min-width: @tablet-width) {
    background-image: url("../../img/mail-icon.svg");
  }
}

.form__user-contacts input::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: @grey;
}

.form__user-contacts p {
  position: relative;
  margin-top: 17px;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    margin-top: 29px;
  }

  @media (min-width: @desktop-width) {
    width: 45.5%;
    margin: 0;
  }
}

.form__user-contacts p:first-of-type {
  margin: 0;
}

// User App

.form__user-app {
  box-sizing: border-box;
  width: 280px;
  margin: 0 auto;
  padding: 0 0 45px 0;
  border: none;

  @media (min-width: @tablet-width) {
    width: 100%;
    padding-bottom: 57px;
    border: 2px solid @grey-light;
  }
}

.form__wrapper-user-app {
  background-color: @grey-super-light;
  padding-top: 39px;

  @media (min-width: @tablet-width) {
    order: -2;
    width: 100%;
    background-color: transparent;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 46.3%;
  }
}

.form__user-app legend {
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 49px;
  }
}

.form__user-app-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__user-app-item:not(:last-of-type) {
  margin-bottom: 45px;

  @media (min-width: @desktop-width) {
    margin-bottom: 46px;
  }
}

.form__user-app-item label {
  font-size: 18px;
  line-height: 30px;
  padding-left: 70px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-left: 61px;
    margin-left: 57px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 72px;
  }
}

.form__user-app-item label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
  width: 37px;
  height: 37px;
  border: 2px solid @grey-light;
  border-radius: 50%;
  background-color: @white;
}

.form__user-app-symbol:checked + label::before {
  background-image: url("../../img/round.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__user-app-symbol:hover + label::before,
.form__user-app-symbol:focus + label::before {
  border-color: @grey;
}

.form__user-app-symbol:active + label::before {
  border-color: @red;
}

// User Emotion

.form__user-emotion {
  width: 280px;
  margin: 0 auto;
  padding: 20px 0 0 0;
  margin-top: 38px;
  margin-bottom: 41px;
  border: none;

  @media (min-width: @tablet-width) {
    width: 100%;
    border: 2px solid @grey-light;
    margin-top: 58px;
    padding: 41px 60px 44px 58px;
    margin-bottom: 66px;
  }

  @media (min-width: @desktop-width) {
    padding: 38px 58px 36px 58px;
    margin-top: 57px;
    margin-bottom: 65px;
  }
}

.form__user-emotion legend {
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: @red;
  margin-top: 42px;
  margin-bottom: -4px;

  @media (min-width: @tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.form__user-text {
  box-sizing: border-box;
  border: 2px solid @grey-light;
  border-radius: 2px;
  padding: 14px 20px;
  width: 100%;
  min-height: 201px;

  &:hover {
    border-color: @grey;
  }

  &:focus {
    border-color: @red;
  }

  @media (min-width: @tablet-width) {
    min-height: 193px;
  }

  @media (min-width: @desktop-width) {
    min-height: 128px;
  }
}

.form__user-emotion textarea::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: @grey;
}
