.form__wrapper {
  width: 280px;
}

.form fieldset {
  border: none;
}

.form legend {
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: @red;
}

.form__caption {
  line-height: 30px;
  width: 280px;
  text-align: center;
  margin-top: 54px;
  margin-bottom: 27px;
}

.form p {
  padding: 0;
}

.form__button-submit {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 17px 0;
  color: @white;
  background-color: @green;
}

.form__subscription {
  line-height: 30px;
  text-transform: uppercase;
}

.form__subscription span {
  color: @red;
}

// User Name

.form__user-name {
  width: 280px;
  padding: 0 0 42px 0;
}

.form__user-name label {
  line-height: 30px;
  text-transform: uppercase;
  color: @red;
}

.form__user-name input {
  box-sizing: border-box;
  border: 2px solid @grey-light;
  border-radius: 2px;
  padding: 23px 20px;
  width: 100%;
}

.form__user-name input::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: @grey;
}

.form__user-name p {
  margin-top: 27px;
  margin-bottom: 0;
}

// User Achievements

.form__user-achievements {
  background-color: @grey-super-light;
  padding: 42px 0;
}

.form__user-achievements legend {
  margin-bottom: 44px;
}

.form__user-achievements-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__user-achievements-item:not(:first-of-type) {
  margin-top: 47px;
}

.form__user-achievements-item label {
  font-size: 18px;
  line-height: 30px;
}

// User Contacts

.form__user-contacts {
  width: 280px;
  padding: 15px 0 42px 0;
}

.form__user-contacts label {
  line-height: 30px;
  text-transform: uppercase;
  color: @red;
}

.form__user-contacts input {
  box-sizing: border-box;
  border: 2px solid @grey-light;
  border-radius: 2px;
  padding: 23px 20px;
  width: 100%;
}

.form__user-contacts input::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: @grey;
}

.form__user-contacts p {
  margin-top: 27px;
  margin-bottom: 0;
}

// User App

.form__user-app {
  background-color: @grey-super-light;
  padding: 42px 0;
}

.form__user-app legend {
  margin-bottom: 38px;
}

.form__user-app-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__user-app-item:not(:last-of-type) {
  margin-bottom: 38px;
}

.form__user-app-item label {
  font-size: 18px;
  line-height: 30px;
}

// User Emotion

.form__user-emotion {
  width: 280px;
  padding: 42px 0 0 0;
  margin-bottom: 40px;
}

.form__user-emotion label {
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: @red;
  margin-top: 42px;
}

.form__user-emotion textarea {
  box-sizing: border-box;
  border: 2px solid @grey-light;
  border-radius: 2px;
  padding: 23px 20px;
  width: 100%;
  min-height: 201px;
}

.form__user-emotion textarea::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: @grey;
}
