.main-nav-list {
  list-style: none;
}

.main-nav-list__item {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: @grey;
  box-shadow:
    0 -1px 0 @black,
    inset 0 1px 0 @black-transparent;
}

.main-nav-list__item a {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: @white;
  text-transform: uppercase;
  text-decoration: none;
}
