.rates {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: -40px;
  padding-left: -5px;
  padding-top: 163px;
  padding-bottom: 46px;
  background-image: linear-gradient(176.6deg, @white 15.3%, @grey-super-light 15.3%);

  @media (min-width: @tablet-width) {
    background-image: linear-gradient(176.5deg, @white 21%, @grey-super-light 21%);
    padding-top: 147px;
    margin-top: -50px;
    padding-bottom: 68px;
  }

  @media (min-width: @desktop-width) {
    background-image: linear-gradient(175.2deg, @white 24.3%, @grey-super-light 24.3%);
    padding-top: 220px;
    padding-bottom: 93px;
  }
}

.rates__table {
  box-sizing: border-box;
  border-collapse: collapse;
  width: 300%;
  transition: transform 0.8s ease;

  @media (min-width: @tablet-width) {
    width: 620px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    margin: 0 auto;
  }
}

.rates__table-header {
  box-sizing: border-box;
  background-color: @grey;
  border: none;
  padding: 0;

  @media (min-width: @tablet-width) {
    border-left: 2px solid @grey-light;
    width: 25%;
  }
}

.rates__table-header-wrapper {
  position: relative;
  box-sizing: border-box;
  max-width: 280px;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 29px;
  border-left: 2px solid @grey-light;
  border-right: 2px solid @grey-light;

  @media (min-width: @tablet-width) {
    max-width: none;
    border: none;
    padding-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 16px;
    padding-bottom: 21px;
  }
}

.rates__table-header--hit .rates__table-header-wrapper::before {
  position: absolute;
  left: 4%;
  top: 12%;
  content: "Хит";
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: @white;
  transform: rotate(-45deg);

  @media (min-width: @tablet-width) {
    left: 4%;
    top: 13%;
  }

  @media (min-width: @desktop-width) {
    left: 6%;
    top: 15%;
  }
}

.rates__table-header--hit .rates__table-header-wrapper {
  background-image: linear-gradient(-45deg, transparent 82%, @red 82%, @red 91%, transparent 91%);

  @media (min-width: @tablet-width) {
    background-image: linear-gradient(-45deg, transparent 75%, @red 75%, @red 86.5%, transparent 86.5%);
  }

  @media (min-width: @desktop-width) {
    background-image: linear-gradient(-45deg, transparent 78%, @red 78%, @red 88%, transparent 88%);
  }
}

.rates__table-header span {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: @white;

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.rates__table-header p {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: @white;
  margin-top: -3px;
  margin-bottom: 0;

  @media (min-width: @desktop-width) {
    font-size: 24px;
    margin-top: 1px;
  }
}

.rates__table-header:first-of-type {
  display: none;

  @media (min-width: @tablet-width) {
    display: table-cell;
    background-color: transparent;
    border-bottom: 2px solid @grey-light;
    border-left: none;
  }
}

.rates__table-header:nth-of-type(2) {
  @media (min-width: @tablet-width) {
    border-left: none;
  }
}

.rates__table-data:first-of-type {
  display: none;

  @media (min-width: @tablet-width) {
    display: table-cell;
  }
}

.rates__table-data:last-of-type {
  @media (min-width: @tablet-width) {
    border-right: 2px solid @grey-light;
  }
}

.rates__table-data {
  background-color: @white;
  border: 2px solid @grey-light;
  padding: 0;
  border-right: none;
  border-left: none;

  @media (min-width: @tablet-width) {
    border-top: none;
    border-left: 2px solid @grey-light;
    border-bottom: 2px solid @grey-light;
    width: 25%;
  }
}

.rates__table-data svg {
  vertical-align: middle;
  display: block;
  float: right;

  @media (min-width: @tablet-width) {
    text-align: center;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: @desktop-width) {
  }
}

.rates__table-data:first-of-type .rates__table-data-wrapper {
  @media (min-width: @tablet-width) {
    justify-content: flex-start;
  }
}

.rates__table-data-wrapper {
  box-sizing: border-box;
  max-width: 280px;
  margin: 0 auto;
  padding: 14px 18px 15px 20px;
  border-right: 2px solid @grey-light;
  border-left: 2px solid @grey-light;

  @media (min-width: @tablet-width) {
    max-width: none;
    justify-content: center;
    border: none;
    padding: 7px 15px 8px 15px;
  }

  @media (min-width: @desktop-width) {
    padding: 15px 20px;
  }
}

.rates__table-data span {
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    text-transform: none;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.rates__table-data:not(:first-of-type) span {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.rates__table-row:nth-of-type(2) td {
  border-top: none;
}

.rates__toggles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 41px;
  order: 1;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.rates input[type="radio"] {
  display: none;
}

.rates__toggle-label:not(:last-of-type) {
  margin-right: 16px;
}

.rates__toggle-label {
  box-sizing: border-box;
  padding: 0;
  border-radius: 50%;
  background-color: @grey;
  opacity: 0.3;
  width: 6px;
  height: 6px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

.rates__toggle-input-1:checked ~ .rates__toggles label[for="btn-1"],
.rates__toggle-input-2:checked ~ .rates__toggles label[for="btn-2"],
.rates__toggle-input-3:checked ~ .rates__toggles label[for="btn-3"] {
  background-color: transparent;
  border: 3px solid @grey;
  width: 12px;
  height: 12px;
  opacity: 1;
}

.rates__toggle-input-1:checked ~ .rates__table {
  transform: translate(0);
}

.rates__toggle-input-2:checked ~ .rates__table {
  transform: translate(-33.33%);

  @media (min-width: @tablet-width) {
    transform: translate(0);
  }
}

.rates__toggle-input-3:checked ~ .rates__table {
  transform: translate(-66.66%);

  @media (min-width: @tablet-width) {
    transform: translate(0);
  }
}
